* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #eee9e9;
}

::-ms-scrollbar {
  width: 2px;
  height: 2px;
}

::-ms-scrollbar-thumb {
  background-color: #eee9e9;
} */