* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 2px !important;
  height: 2px !important;
}

::-webkit-scrollbar-thumb {
  background-color: #eee9e9 !important;
  ;
}

::-ms-scrollbar {
  width: 2px !important;
  height: 2px !important;
}

::-ms-scrollbar-thumb {
  background-color: #eee9e9 !important;
}