body::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

body::-webkit-scrollbar-thumb {
  background-color: #eee9e9
}

body::-ms-scrollbar {
  width: 2px;
  height: 2px;
}

body::-ms-scrollbar-thumb {
  background-color: #eee9e9
}